@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(208, 1, 27, .08);
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 10px auto;
    border: 10px solid white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
}

.gambar img.besar {
    height: 470px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item img:first-child {
    position: absolute;
    top: 30%;
    left: 0;
}

.item img.kecil {
    width: 85px;
}

.item img:last-child {
    position: absolute;
    top: 30%;
    right: 0;
}

.info {
    /* border: 1px solid black; */
    padding: 5px 40px;
    flex-grow: 1;
}

.info h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.nilai {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.nilai a {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
}

.nilai a span {
    border-bottom: 1px solid rgb(205, 4, 4);
    color: rgb(205, 4, 4);
    padding-bottom: 2px;
    font-size: 16px;
}

.nilai a img {
    position: relative;
    top: 3px;
}

.nilai a.tebal {
    color: #767676;
}

.nilai a.tebal span {
    color: black;
    border-color: black;
}

.nilai a:nth-child(3) span {
    border-bottom: none;
}

.nilai a:nth-child(3) {
    border-right: none;
}

.nilai a:nth-child(3):hover {
    cursor: auto;
}

.nilai a.lapor {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    border: none;
    color: #767676;
    text-decoration: none;
}

.harga {
    background-color: #fafafa;
    margin-top: 20px;
    padding: 10px 0 10px 10px;
}

.harga span:hover {
    cursor: auto;
}

.harga span {
    color: #767676;
    text-decoration: line-through;
}

.harga.merah {
    text-decoration: none;
    color: rgb(205, 4, 4);
    font-size: 2rem;
    position: relative;
    top: 5px;
}

.ori {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.ori img {
    height: 0%;
}

.ori img:hover {
    cursor: pointer;
}

.ori.info {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 6px;
}

.ori.info a:last-child {
    font-size: 0.7rem;
    text-decoration: none;
    color: #767676;
}

.ori.info a.merah {
    font-size: 1rem;
    color: rgb(205, 4, 4);
    text-decoration: none;
    margin-bottom: 4px;
}

.barang {
    display: flex;
    padding: 0;
    height: 50%;
    margin-top: 25px;
}

.rincian {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.rincian div {
    flex-basis: 100px;
}

.info.barang .value {
    flex: 5;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.value h3 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.value h3:first-child {
    width: 165px;
    color: #767676;
}

.value h3:last-child {
    width: 100%;
}

.value.voucher h3:last-child a {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(205, 4, 4);
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgb(169, 169, 199);
    cursor: default;
}

.value h3:last-child span {
    color: black;
    font-weight: 400;
    margin-right: 10px;
}

.value.return h3:last-child span:last-child {
    color: #767676;
}

.protection h3:last-child a {
    text-decoration: none;
    color: rgb(93, 93, 226);
}

.pengiriman h3:last-child {
    display: flex;
    flex-direction: column;
}

.pengiriman h3:last-child span:first-child {
    margin-bottom: 3px;
}

.pengiriman h3:last-child span:nth-child(3) {
    margin-top: 15px;
    margin-bottom: 9px;
}

.pengiriman h3:last-child span:nth-child(2) {
    color: #767676;
}

.pengiriman h3:last-child span a {
    text-decoration: none;
    margin-left: 35px;
    color: black;
    font-weight: bold;
}

.pengiriman h3:last-child span:last-child a {
    font-weight: 400;
}

.color {
    height: 50%;
}

.color h3 {
    display: flex;
    flex-wrap: wrap;
}

.color h3:last-child {
    overflow: auto;
    height: 90%;
}

.color h3 a {
    padding: 10px;
    background-color: rgba(239, 232, 232, 0.952);
    margin-bottom: 8px;
    margin-right: 6px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    overflow: auto;
    width: 30%;
    text-align: center;
}