@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(208, 1, 27, .08);
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 10px auto;
    border: 10px solid white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
}

.gambar img.besar {
    height: 470px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item img:first-child {
    position: absolute;
    top: 30%;
    left: 0;
}

.item img.kecil {
    width: 85px;
}

.item img:last-child {
    position: absolute;
    top: 30%;
    right: 0;
}

.info {
    /* border: 1px solid black; */
    padding: 5px 40px;
    flex-grow: 1;
}

.info h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.nilai {
    font-family: "Roboto", sans-serif;
    position: relative;
}

.nilai a {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
}

.nilai a span {
    border-bottom: 1px solid rgb(205, 4, 4);
    color: rgb(205, 4, 4);
    padding-bottom: 2px;
    font-size: 16px;
}

.nilai a img {
    position: relative;
    top: 3px;
}

.nilai a.tebal {
    color: #767676;
}

.nilai a.tebal span {
    color: black;
    border-color: black;
}

.nilai a:nth-child(3) span {
    border-bottom: none;
}

.nilai a:nth-child(3) {
    border-right: none;
}

.nilai a:nth-child(3):hover {
    cursor: auto;
}

.nilai a.lapor {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    border: none;
    color: #767676;
    text-decoration: none;
}

.harga {
    background-color: #fafafa;
    height: 20%;
    margin-top: 20px;
    padding: 10px 0 10px 10px;
}

.harga span:hover {
    cursor: auto;
}

.harga span {
    color: #767676;
    text-decoration: line-through;
}

.harga.merah {
    text-decoration: none;
    color: rgb(205, 4, 4);
    font-size: 2rem;
    position: relative;
    top: 5px;
}

.ori {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.ori img {
    height: 0%;
}

.ori img:hover {
    cursor: pointer;
}

.ori.info {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 6px;
}

.ori.info a:last-child {
    font-size: 0.7rem;
    text-decoration: none;
    color: #767676;
}

.ori.info a.merah {
    font-size: 1rem;
    color: rgb(205, 4, 4);
    text-decoration: none;
    margin-bottom: 4px;
}